body {
  width: 100%;
  background-image: url("../assets/background/dot.svg");
  background-repeat: repeat;
  scrollbar-gutter: stable both-edges;
}

h1 {
	font-family: 'Edu NSW ACT Foundation';
}

.btn.btn-outline-secondary {
  color: #896405;
}

.gc-modern-bg {
  &-1{
    background-color: $gc-modern-1;
  }
  &-2{
    background-color: $gc-modern-2;
  }
  &-3{
    background-color: $gc-modern-3;
  }
  &-4{
    background-color: $gc-modern-4;
  }
  &-5{
    background-color: $gc-modern-5;
  }
  &-6{
    background-color: $gc-modern-6;
  }
  &-7{
    background-color: $gc-modern-7;
  }
  &-8{
    background-color: $gc-modern-8;
  }
  &-9{
    background-color: $gc-modern-9;
  }
  &-10{
    background-color: $gc-modern-10;
  }
  &-11{
    background-color: $gc-modern-11;
  }
}

.gc-modern-color {
  &-1{
    color: $gc-modern-1;
  }
  &-2{
    color: $gc-modern-2;
  }
  &-3{
    color: $gc-modern-3;
  }
  &-4{
    color: $gc-modern-4;
  }
  &-5{
    color: $gc-modern-5;
  }
  &-6{
    color: $gc-modern-6;
  }
  &-7{
    color: $gc-modern-7;
  }
  &-8{
    color: $gc-modern-8;
  }
  &-9{
    color: $gc-modern-9;
  }
  &-10{
    color: $gc-modern-10;
  }
  &-11{
    color: $gc-modern-11;
  }
}