.homepage {
  .layout {
    padding-bottom: 20px;
    .react-grid-placeholder {
      background-color: #f3f08b;
    }
    .drag-handle:hover {
      cursor: move;
    }
  }
  .card-link {
    text-decoration: none;
    color: $dark;

    &:hover {
      text-decoration: none;
      color: rgba($dark, 0.75);
    }
  }

  .plus {
    width: 20px;
    height: 20px;

    image {
      width: 20px;
      height: 20px;
    }
  }

  .calendar {
    .card-header {
      background-color: $accent-light-blue;
    }
  }

  .habits {
    .card-header {
      background-color: $accent-light-green;
    }
  }

  /* Styling for the calendar window */
  .calendar {
    overflow-y: scroll;

    .time-slots {
      display: flex;
      flex-direction: column;
      background-color: #f0f0f0;
      padding: 10px 20px;
      border-radius: 10px;
      position: relative;
      //height: 400px; /* Set a fixed height for the calendar */
      overflow-y: auto; /* Allow the calendar to scroll */
    }

    .time-slot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      min-height: 75px;
      border-bottom: 1px solid #ddd; /* Horizontal lines between times */
      &:nth-last-of-type(1) {
        border-bottom: none;
      }

      &-label {
        font-weight: bold;
      }
    }

    .appointment-box {
      padding: 15px;
      border-radius: 5px;
      width: 75%;
      color: white;
      font-size: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 50px;
      word-wrap: normal;
                  
      &.event-color {
        &-1{
          background-color: $gc-modern-1;
        }
        &-2{
          background-color: $gc-modern-2;
        }
        &-3{
          background-color: $gc-modern-3;
        }
        &-4{
          background-color: $gc-modern-4;
        }
        &-5{
          background-color: $gc-modern-5;
        }
        &-6{
          background-color: $gc-modern-6;
        }
        &-7{
          background-color: $gc-modern-7;
        }
        &-8{
          background-color: $gc-modern-8;
        }
        &-9{
          background-color: $gc-modern-9;
        }
        &-10{
          background-color: $gc-modern-10;
        }
        &-11{
          background-color: $gc-modern-11;
        }
      }
    }

    /* Styling for the "Schedule Appointment" button */
    .bi-calendar-plus {
      margin-right: 8px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  /* Styling for Add Goal and Add Task buttons, positioning them below the last item */
  .goals,
  .habits,
  .todo {
    .card-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
      overflow-y: scroll;
    }

    .react-resizable-handle.react-resizable-handle-se {
      bottom: -5px;
      right: -5px;
    }

    .d-flex.justify-content-between {
      margin-bottom: 15px;
    }

    .d-flex.gap-2 {
      align-items: center;
    }

    .mt-2 {
      margin-top: 20px;
    }
  }

  .goals {
    .card-header {
      background-color: $accent-pink;
    }
  }

  .todo {
    .card-header {
      background-color: $accent-yellow;
    }
    .list-group-item {
      input {
        margin-right: 10px;
      }
    }
  }
}

.react-draggable-transparent-selection {
  user-select: none;
}
