$primary: #F2EBEB;
$secondary: #EBE4A4;
$success: #006307;
$info: #b09554;
$warning: #EA4600;
$danger: #B90000;
$light: #E8E7E6;
$dark: #001B29;

$accent-yellow: #EBE4A4;
$accent-light-blue: #afdef9;
$accent-pink: #c59fc9;
$accent-light-green: #c4f4c7;
$accent-dark-blue: #187795;
$accent-dark-green: #38686a;

$font-family-base: "Outfit";
$headings-font-family: "Outfit";

$dark-gray: #31393C;
$lighter-gray: #424e53;

$event-colors: (
  blue: #007bff,
  yellow: #ffc107,
  red: #dc3545,
  orange: #fd7e14,
  purple: #6f42c1,
  green: #28a745,
  pink: #e83e8c
);

$gc-classic-1: #A4BDFC;
$gc-classic-2: #7AE7BF;
$gc-classic-3: #DBADFF;
$gc-classic-4: #FF887C;
$gc-classic-5: #FBD75B;
$gc-classic-6: #FFB878;
$gc-classic-7: #46D6DB;
$gc-classic-8: #E1E1E1;
$gc-classic-9: #5484ED;
$gc-classic-10: #51B749;
$gc-classic-11: #DC2127;

$gc-modern-1: #7986CB;
$gc-modern-2: #33B679;
$gc-modern-3: #8E24AA;
$gc-modern-4: #E67C73;
$gc-modern-5: #F6BF26;
$gc-modern-6: #F4511E;
$gc-modern-7: #039BE5;
$gc-modern-8: #616161;
$gc-modern-9: #3F51B5;
$gc-modern-10: #0B8043;
$gc-modern-11: #D50000;

$navbar-toggler-border-color: $accent-yellow;